<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | [ReqId: ${aspnet-TraceIdentifier}] [UserId: ${aspnet-request-header:Item=X-User-Id}] | ${logger:shortName=true} | ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="file"
            fileName="logs/auth-${shortdate}.log"
            archiveFileName="logs/archive/auth-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | [ReqId: ${aspnet-TraceIdentifier}] [UserId: ${aspnet-request-header:Item=X-User-Id}] | ${logger:shortName=true} | ${aspnet-request-method} ${aspnet-request-url} | ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="errors"
            fileName="logs/auth-errors-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | [ReqId: ${aspnet-TraceIdentifier}] [UserId: ${aspnet-request-header:Item=X-User-Id}] | ${logger:shortName=true} | ${message} ${exception:format=tostring:maxInnerExceptionLevel=5}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="console,file" />
    <logger name="*" minlevel="Error" writeTo="errors" />
  </rules>
</nlog>
